body{
    background-color: #F5F8FA;
}

.cont-content {
    background-color: #F5F8FA;
}

.post-img{
    max-width:100%;
    height:100px;
    margin:5px auto;
}

.post-field > p{
    font-style: italic;
}
.read-more{
    float: left;
}
.likeBtn{
    float:left;
}

.news-title{
    word-wrap: break-word;
}


.news-desc{
    font-weight: 600;
    font-style:italic ;
    text-transform: capitalize ;
    word-wrap: break-word;
}
.one-post-img{
    max-width: 50%;
    max-height: 350px;
    margin: 0 auto;
}
.short-content{
    margin: 30px 0;
}
.dtb-img{
    max-height: 50px;
}

.rows > div{
    height: 300px;
    border:1px solid #51BBDB;
    border-radius:7px ;
    margin:10px;
}
#cat{
    width: 100px;
}
.nav-header{
    background-color:#2AB27B;
    padding-left:20px ;
}
.navbar-toggle{
    margin: 8px 1px;
}
body,html{
    height: 100%;
}
/* Left Sidebar */
.left-sdb{
    padding-left: 0;
    z-index: 9999;
}
nav.sidebar, .main{
    -webkit-transition: margin 200ms ease-out;
    -moz-transition: margin 200ms ease-out;
    -o-transition: margin 200ms ease-out;
    transition: margin 200ms ease-out;
}

.main{
    padding: 10px 10px 0 10px;
}

@media (min-width: 768px) {

    .main{
        position: absolute;
        width: calc(100% - 40px);
        margin-left: 40px;
        float: right;

    }
    nav.sidebar:hover + .main{
        margin-left: 200px;
    }

    nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        margin-left: 0px;
    }

    nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
        text-align: center;
        width: 100%;
        margin-left: 0px;
    }

    nav.sidebar a{
        padding-right: 13px;
    }

    nav.sidebar .navbar-nav > li:first-child{
        border-top: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav > li{
        border-bottom: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
        padding: 0 0px 0 0px;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #777;
    }

    nav.sidebar{
        width: 200px;
        height: 100%;
        margin-left: -160px;
        float: left;
        margin-bottom: 0;
    }

    nav.sidebar li {
        width: 100%;
    }

    nav.sidebar:hover{
        margin-left: 0;
    }

    .forAnimate{
        opacity: 0;
    }
}

@media (max-width: 767px) {
    nav.sidebar{
        width: 100%;
    }
}
@media (min-width: 1230px) {

    .main{
        width: calc(100% - 200px);
        margin-left: 200px;
    }

    nav.sidebar{
        margin-left: 0;
        float: left;
    }

    nav.sidebar .forAnimate{
        opacity: 1;
    }
}

nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #CCC;
    background-color: transparent;
}

nav:hover .forAnimate{
    opacity: 1;
}
section{
    padding-left: 15px;
}
/* User comments */

.addComment{
    margin-top: 30px;
}
.thumbnail {
    padding:0;
    max-width: 72px;
}
.panel {
    position:relative;
}
.commentContent{
  word-wrap: break-word;
}
.panel>.panel-heading:after,.panel>.panel-heading:before{
    position:absolute;
    top:11px;left:-16px;
    right:100%;
    width:0;
    height:0;
    display:block;
    content:" ";
    border-color:transparent;
    border-style:solid solid outset;
    pointer-events:none;
}
.panel>.panel-heading:after{
    border-width:7px;
    border-right-color:#f7f7f7;
    margin-top:1px;
    margin-left:2px;
}
.panel>.panel-heading:before{
    border-right-color:#ddd;
    border-width:8px;
}
.user-photo{
    max-height: 70px;
    max-width: 75px;
}
.showLike{
    font-style: italic ;
    font-weight: 600;
    border-bottom: 1px solid gainsboro;
}